extends layout

block content
  p Welcome to our awesome #{title}
  p The goal of this server is the gamification of any work environment.
  p For more information you can check our repository https://github.com/galahad1/TWEB-Gamification-server

